<%= if @round_info != "" do %>
  <div
    style="height: 40vh; width: 63%;"
    class="
      flex absolute z-50
      justify-center items-center
      font-bold text-3xl text-gray-300 bg-black bg-transparent
    "
  >
    <%= @round_info %>
  </div>
<% end %>
