<%= if @round_info != "" do %>
  <div
    style="height: 39vh; width: 63%;"
    class="
      flex absolute
      justify-center items-center
      font-bold text-3xl text-gray-300 bg-black
    "
  >
    <%= @round_info %>
  </div>
<% end %>
