<main role="main" class="container">
  <p class="alert alert-info absolute inset-x-1/4 text-center cursor-pointer" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger absolute inset-x-1/4 text-center cursor-pointer" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
