<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "", suffix: " · DjRumble" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-gray-900 cursor-default">
    <header class="bg-gradient-to-r from-gray-900 via-indigo-300 to-gray-900 border-0">
      <p class="text-gray-50 text-4xl font-bold text-center py-4 m-0">DJ Rumble</p>
    </header>
    <%= @inner_content %>
  </body>
</html>
