<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "", suffix: " · DjRumble" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-gray-900 cursor-default select-none">
    <header class="absolute top-0 border-0 py-4 pl-2">
    <%= link to: Routes.room_index_path(@conn, :index) do %>
      <div class="
        flex flex-row
        group
      ">
        <div>
          <%= PhoenixInlineSvg.Helpers.svg_image(
                DjRumbleWeb.Endpoint,
                "logo/dj-rumble",
                class: "
                  h-20 w-20 opacity-70
                  transition duration-500 ease-in-out
                  transform group-hover:opacity-100
                  hover:-skew-x-3 hover:scale-110
                "
              )
          %>
        </div>
        <div
          class="
            text-gray-300 text-4xl font-bold text-center px-4 self-center
            font-street-ruler
            transition duration-500 ease-in-out
            group-hover:scale-110 group-hover:text-red-800
          "
        >
          DJ Rumble
        </div>
      </div>
    <% end %>
    </header>
    <div id="dj-rumble-inner-content">
      <%= @inner_content %>
    </div>

    <div id="dj-rumble-alert" class="
      fixed -bottom-10 left-0 sm:left-1/4 w-full sm:w-6/12 h-48
      invisible rounded-t-3xl
      bg-black
      opacity-100
    "
      style="box-shadow: -4px -4px 10px #323637, 4px 0px 10px #080a0a"
    >
      <div
        id="dj-rumble-alert-container"
        class="flex h-full justify-center pt-5 px-5 items-start"
      >
      </div>
    </div>
  </body>
</html>
