/* This file is for your main application css. */
@import "./phoenix.css";
@import "./themes.scss";
@import "./equalizer.scss";
@import "./progressive-range.scss";
@import "./scrollbar.scss";
@import "./hearts.scss";

/* App Background */
.app-background {
  background-image: url(https://wallpapercave.com/wp/wp4030805.jpg);
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: transparent;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom Modal */

.modal-window {
  background-color: #444;
  opacity: 1;
  border-color: #444;
  border-width: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-color: #666;
  border-bottom-style: groove;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.modal-title {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #a0aec0;
}

.modal-body {
  font-size: 1.4rem;
  flex: 1 1 auto;
  padding: 1rem;
  position: relative;
  max-height: 50vh;
}

.modal-body-content {
  margin-top: 6px;
  margin-bottom: 6px
}

.modal-close-icon {
  background-color: transparent !important;
  border: 0px;
  color: #a0aec0;
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transforma;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover {
  background-color: transparent;
  border: 0px;
  color: #cbd5e0;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.modal-button {
  align-items: center;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.375rem;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 1;
  font-size: 1.250rem;
  line-height: 1.25rem;
  font-weight: 500;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.clickeable {
  cursor: pointer;
}

/*       Search       */
.search-button {
  width: 8.5rem !important;
  min-height: 8.5rem !important;
}

.search-input {
  margin-bottom: 0px;
}

.search-result {
  border: #0e0e0e99 solid 1px;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0px 0px 3px 0px #22222255;
  background: #bbbbbb;
}

.search-result:hover {
  background: #cccccc;
}

.search-result {
  &.unqueued a svg.show-add-button {
    display: none;
  }
  &.unqueued a svg.show-check-button {
    display: none;
  }
  &.queued a svg.show-add-button {
    display: none;
  }
  &.queued a svg.show-check-button {
    display: block;
  }
}

.search-control-add-asset-add-layer {
  fill: $text;
  stroke: $text;
}

.search-control-enabled:hover .search-control-add-asset-add-layer {
  -webkit-animation: slight-zoom-in 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slight-zoom-in 0.5s forwards;
  animation-delay: 0.1s;
}

.search-control-enabled:hover .search-control-add-asset-add-layer {
  stroke: $success;
  fill: $success;
}

.search-control-add-asset-check-layer {
  stroke: $success;
  fill: $success;
}

svg.search-control-add-asset.show-add-button .search-control-add-asset-add-layer {
  opacity: 1;
}
svg.search-control-add-asset.show-add-button .search-control-add-asset-check-layer {
  opacity: 0;
}
svg.search-control-add-asset.show-check-button .search-control-add-asset-add-layer {
  opacity: 0;
}
svg.search-control-add-asset.show-check-button .search-control-add-asset-check-layer {
  opacity: 1;
}

/*       End Search       */

/*       Playlist       */
.playlist-selected-video {
  border: #6a5991 solid 2px;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  background: #bbbbbb;
  transition: background-color 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
}

.playlist-selected-video:hover {
  background: #cccccc;
  box-shadow: 0px 0px 12px -1px #205;
}

.playlist-video {
  border: #0e0e0e99 solid 1px;
  margin: 1rem 0;
  background: #bbbbbb;
  box-shadow: 0px 0px 3px 0px #22222255;
}

.playlist-video:hover {
  background: #cccccc;
}
/*       End Playlist       */

/*       Chat       */


/*       End Chat       */

/* Score buttons Start */

.score-button #like-layer-1,
.score-button #dislike-layer-1 {
  fill: rgb(17, 24, 39);
}

.score-button.enabled #like-layer-2 {
  fill: #064E3B;
}
.score-button.enabled #dislike-layer-2 {
  fill: #7F1D1D;
}

.score-button.enabled #like-background path {
  fill: #34d399 !important;
}

.score-button.enabled #dislike-background path {
  fill: #EF4444 !important;
}

.score-button.disabled #like-background path,
.score-button.disabled #dislike-background path {
  fill: #666 !important;
}

/* Score buttons End */

/* Animations Start */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animated-bounce {
  position: absolute;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: custom-bounce;
  animation-name: custom-bounce;
}

@keyframes custom-bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-30px);
  }

  40% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
  }
}

/* Animations End */

/* Animations Start */
.tumbleweed {
  position: absolute;
  top: 0;
  left: -25rem;
  background: url(https://static.wikia.nocookie.net/simpsonstappedout/images/3/39/Tumbleweed_Unlock.png) no-repeat center;
  background-size: cover;
  width: 18rem;
  height: 18rem;
  animation: jumping 1.5s infinite, rolling 5s linear infinite, rotating 2s linear infinite;

}
.tumbleweed:nth-child(2) {
  animation-delay: 2.5s;
}
.tumbleweed:nth-child(3) {
  animation-delay: 4s;
}

@keyframes jumping {
  0% {
      top: 0rem;
      animation-timing-function: ease-in;
  }
  25% {
      top: 3rem;
      animation-timing-function: ease-out;
  }
  50% {
      top: 1rem;
      animation-timing-function: ease-in;
  }
  75% {
      top: 3rem;
      animation-timing-function: ease-out;
  }
  100% {
      top: 0rem;
      animation-timing-function: ease-in;
  }
}

@keyframes rolling {
  0% {
      left: -5rem;
  }
  100% {
      left: 100%;
  }
}

@keyframes rotating {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Animations End */
