.hearts-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
}

.wave {
  transform: scale(0.8);
  opacity: 1.0;
  animation: floatUpwards 3s linear, swayWays 3s ease-in-out, disappear 3s ease-in-out;
}

@keyframes floatUpwards {
  from {
    top: 85%;
  }
  to {
    top: 0%;
  }
}

@keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left: 49.7%;
  }
  33%{
    transform: rotate(-2deg);
    left: 50.7%;
  }
  100% {
    transform: rotate(0deg);
    left: 38%;
  }
}

@keyframes disappear {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

/* //  HEART CODE */
.altheart {
  background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png) no-repeat center;
  width: 1px;
  height: 1px;
  position: relative;
  display: block;
}

.heart {
  position: absolute;
}

.heart:before,
.heart:after {
  background: transparent;
  position: absolute;
  content: "";
  left: 17px;
  top: -5px;
  width: 17px;
  height: 30px;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}
.heart.positive:before,
.heart.positive:after {
  background: #B91C1C;
  border: 2px solid #B91C1C;
}
.heart.negative:before,
.heart.negative:after {
  background: #6D28D9;
  border: 2px solid #6D28D9;
}
