$primary-light: #4297e0;
$primary: #3271a9;
$secondary: #8558af;
$secondary-highlight-1: #fa84bf;
$secondary-highlight-2: #fda4d1;
$warning: #edac45;
$danger: #F87171;
$white: #eaeaea;
$text: #9CA3AF;
$disabled: #808080;
$success: #34D399;
$success-highlight-1: #5dc09f;
$neutral-semi-dark: #666;
$neutral-dark: #444;
$background-dark: #1F2937;
$background-darker: #111827;
