$primary-light: #4297e0;
$primary: #3271a9;
$secondary: #8558af;
$secondary-highlight-1: #fa84bf;
$secondary-highlight-2: #fda4d1;
$warning: #edac45;
$danger: #e65252;
$white: #eaeaea;
$text: #dedcdc;
$disabled: #808080;
$success: #438b73;
$success-highlight-1: #5dc09f;
$neutral-semi-dark: #666;
$neutral-dark: #444;
$neutral-darker: #222;
$background-dark: #141414;
$background-darker: #0a0a0a;
